  
        body {

            margin: 0;
            font-family: mon,'Arial Narrow Bold', sans-serif;
             text-align: left;
             border: double 6px black;
            
        }



        .menu-container {
            max-width: 780px;
            margin: 20px auto; /* Centers the div horizontally with top/bottom margin */
            padding: 20px;
            background-color: #fffff3;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            border:  double 6px  rgb(131, 19, 19); 
            text-align: center; /* Centers inline content within the div */
    
        }

        
        h1 {
            font-family: danfo,'Arial Narrow Bold', sans-serif;
            margin-bottom: 50px;
            font-size: 55px;
            text-align: center;
            color: rgb(205, 62, 23);

                    
        }
        .menu-section {
            margin-bottom: 30px;
            
        }
        h2 {
            font-family: mon,'Arial Narrow Bold', sans-serif;
            color: rgb(205, 62, 23);
            border-bottom: 2px solid  rgb(228, 109, 76);
            padding: 4px;
            border-radius: 45px;
            max-height: 300px;
            width: 300px;
            position: relative;
            padding-bottom: 10px;
            text-align: center;

        }
        .menu-item {
            display: flex;
            color: rgb(205, 62, 23);
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 2% 0;
            text-align: left;
        }
        .item-name {
            font-weight: bold;
            color: rgb(205, 62, 23);
             text-align: left;
        }
        .item-description {
            font-size: 0.9em;
            color: #777;
            text-align: left;

            margin-left: 10px; /* Space between name and description */
        }
        .item-price {
            font-weight: bold;
            color: rgb(205, 62, 23);

            
        }

        img {
      margin-bottom: 10%;
      width: 40%;
      border-radius: 20%;
         transform: rotate(-40deg); /* Rotates the element 45 degrees clockwise */
        }
.horizontal-line {
  width: 50%; 
  height: 0; 
  border-bottom: 2px dashed  rgb(205, 62, 23);
  margin-top: 90% 5;
}
