body {
  background-color: rgb(255, 255, 255);
  font-family: 'mainfont'; src: url('danfo.ttf'); 

}

.large-container {
  background-image: url("texture.jpg");
  width: 50%; /* Example: 90% of the parent's width */
  max-width: 900px; /* Prevents it from getting too wide on very large screens */
  height: 1000px; /* Example: Fixed height */
  margin: 30px auto; /* Centers the container horizontally with top/bottom margin */
  padding: 20px; /* Space between content and border */
  background-color: rgba(228, 226, 214, 0.967); /* Light gray background */
  box-shadow: 15px;
  border-radius: 20px; /* Slightly rounded corners */
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
}
.title{
    font-size: 100px;
    text-align: center;
    color: rgb(205, 62, 23);
    
}

        @font-face {
        font-family: 'mainfont';
        src: url(danfo.ttf);
    }

.menu-group{
    font-size: 20px;
    position: absolute;
    font-family: 'mon', Helvetica, sans-serif;
    color: rgb(199, 50, 9);
    border: solid 0.9px;
}

        @font-face {
        font-family: 'mon';
        src: url(montagu.ttf);
    }