
        body {
            background-color: #fffff3;
            margin: 0;
            font-family: mon,'Arial Narrow Bold', sans-serif;
             text-align: left;
            
        }



        .menu-container {
            margin: 1em;/* Centers the div horizontally with top/bottom margin */
            padding: 10px;
            text-align: center; /* Centers inline content within the div */
            font-display: 1em;
            line-height: -1em;
            border-bottom: -1em;
        }

        
        h1 {
            font-family: danfo,'Arial Narrow Bold', sans-serif;
            margin-bottom: 20px;
            font-size: 20em;
            color: rgb(205, 62, 23);
            text-align: center;
            margin-right: -0.5em;
            margin-top: 0.10em;

                    }
         @keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at original position */
  }
  50% {
    transform: translateY(-10px); /* Move upwards */
        }
    }
        h1:hover {
  animation: bounce 0.6s ease-in-out forwards;
}
.horizontal-line {
  width: 100%; 
  height: 0; 
  border-bottom: 2px dashed  rgb(205, 62, 23);
  margin-top: 90% 5;
}

                    
        
        .menu-section {
            margin-bottom: 1px;
            margin-left: 10em;
            
        }
        h2 {
            font-family: mon,'Arial Narrow Bold', sans-serif;
            color: rgb(205, 62, 23);
            border-bottom: 2px solid  rgb(228, 109, 76);
            padding: 4px;
            font-size: 4em;
            margin-left: 2em;
            border-radius: 45px;
            max-height: 300px;
            position: relative;
            margin-top: 16em;
            padding-bottom: 10px;
            text-align: center;
            flex-grow: 1;

        }
        .menu-item {
            display: flex;
            color: rgb(205, 62, 23);
            justify-content: space-between;
            margin-bottom: 10px;
            margin-left: 2em;
            padding: 10% 0;
            text-align: left;
            font-size: 3em;
        }
        .item-name {
            font-weight: bold;
            color: rgb(205, 62, 23);
             text-align: left;
        }
        .item-description {
            font-size: -1em;
            color: #777;
            text-align: left;
            flex-grow: 1em; /* Allows description to take available space */
            margin-left: 1em; 
        }
        .item-price {
            font-weight: bold;
            color: rgb(205, 62, 23);
            white-space: nowrap; /* Prevents price from wrapping */
                        flex-grow: 1;
            
        }

        img {
      margin-bottom: 1%;
      width: 70%;
      border-radius: 20%;
         transform: rotate(-40deg); /* Rotates the element 45 degrees clockwise */
        }
         @keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at original position */
  }
  50% {
    transform: translateY(-10px); /* Move upwards */
        }
    }
        img:hover {
  animation: bounce 0.6s ease-in-out forwards;
}
.horizontal-line {
  width: 100%; 
  height: 0; 
  border-bottom: 2px dashed  rgb(205, 62, 23);
  margin-top: 90% 5;
}
