body{
    background-color: rgb(0, 0, 0);
    

}
@font-face { font-family: bitsonbits; src: url('bit.ttf'); } 
.bit { font-family: bitsonbits; font-size: 4.2em; 
}

pre {
    text-align:center;font-size 1vw;

    
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-top {
  position: absolute;
  top: 14%;
  right: 36%;
  left: 50%;
  transform: translate(-80%, -12%);
}

.middle-left {
  position: absolute;
  top: 400px;
  left: -30px;
}

.middle-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
}

    
}
    p {
        color: rgb(255, 255, 255); /* Changes the text color of all paragraph elements */
        text-align: center;
        
    }

    h1 {
        color: rgb(255, 255, 255); /* Changes the text color of all h1 headings */
        


    }

    h3{
      text-align: left;
    }
    

    a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  
  }
a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(109, 16, 16);
  background-color: transparent;
  text-decoration: dotted;
  border-color: black;


}
a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: dotted;

}
  