
    body {
        background:  #5f239b;
        font-family: monospace;
        padding: 40px;
        text-align: center;
        line-height: 1.2;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 40px;
        letter-spacing: 1px;
    }

    .diamond {
        white-space: pre;
        display: inline-block;
        cursor: pointer;
        transition: opacity 0.6s ease, transform 0.6s ease;
        font-size: 14px;
    }


    .shatter {
        opacity: 0;
        transform: scale(1.6) rotate(25deg);
        filter: blur(3px);
    }

    #revealText {
        max-width: 550px;
        margin: 40px auto 0;
        opacity: 0;
        transition: opacity 1.2s ease;
        font-size: 16px;
        white-space: normal;
        line-height: 1.5;
    }

    #revealText.show {
        opacity: 1;
    }